.description {
  text-align: justify;
  margin-right: 60px;
  margin-left: 40px;
  font-family: 'Play', sans-serif;
}
.description-details {
  margin-right: 60px;
  margin-left: 40px;
  font-family: 'Play', sans-serif;
}

.city {
  font-size: 40px;
  color: #3674FC;
  text-align: center;
  font-family: 'Play', sans-serif;
}
.container h1 {
  margin-bottom: 0px;
}
