<div class="container-contact">
  <div class="card-contact card0">
    <div class="border-contact">
      <h2>Alex CTO</h2>
    </div>
  </div>
  <div class="card-contact card1">
    <div class="border-contact">
      <h2>Fred Intern</h2>
    </div>
  </div>
  <div class="card-contact card2">
    <div class="border-contact">
      <h2>Romain CEO</h2>
    </div>
  </div>
</div>
