<div class="banner" style="background-image: url(https://tourismmedia.italia.it/is/image/mitur/20220427155442-tifosi-allo-stadio-milano-lombardiashutterstock-96072692-1?wid=850&hei=500&fit=constrain,1&fmt=webp) ">
  <div class="banner-content text-center">
    <h1>Dreams become true</h1>
    <p class="opacity-75">Find the best stadium for your event</p>
    <%= link_to "Stadiums available", stadia_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>

<div class="footer p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>StadiumBnb</h3>
        <p>StadiumBnb is the best platform to rent a stadium all around the world.</p>
      </div>
      <div class="col-md-4">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li><%= link_to "Stadiums", stadia_path %></li>
          <li><%= link_to "Add a stadium", new_stadium_path %></li>
          <li><%= link_to "THE Team", contact_path %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Newsletter</h3>
        <p>Get some news of us each time with add new stuffs for you.</p>
        <form action="#" method="post">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="your email">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Follow us</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">© 2023 StadiumBnb. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
