 <div class="stadium-card">

 <h1> my profile page</h1>



<%= link_to "Mes réservations", dashboard_path, class: "btn btn-outline-primary"  %>

<%= link_to "Editer mes données de profil", edit_user_registration_path, class: "btn btn-outline-primary"  %>
</div>
