.navbar-lewagon {
  justify-content: space-between;
  background: hsl(0, 0%, 0%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link:hover {
  color: #3674FC;
}
.nav-link {
  color: #0090c1;
  font-family: 'Play', sans-serif;
}
.nav-item {
  color: #0090c1;
  font-family: 'Play', sans-serif;
}
.countries {
  font-family: 'Play', sans-serif;
  display: flex;
}
.country {
  font-family: 'Play', sans-serif;
  text-decoration: none;
  color: #0090c1;
}
