.navbar-lewagon {
  justify-content: space-between;
  background: hsl(0, 0%, 0%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

form.search {
  label {
    color: #183446;
    font-family: 'Kanit', sans-serif;
  }
  > div {
    display: flex;
    align-items: flex-end;
  }

}
.nav-link {
  color: #0090c1;
  font-family: 'Kanit', sans-serif;
}
.nav-item {
  color: #0090c1;
  font-family: 'Kanit', sans-serif;
}
